.main-footer-wrapper {
  position: relative;

  .swiper-container {
    position: relative;

    height: 400px;
    overflow: hidden;

    .swiper-wrapper {
      position: relative;
      display: inline-flex;

      height: 100%;
    }

    .swiper-slide {
      position: relative;
    }
    
    .text-wrapper {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: baseline;

      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      padding: 40px;
      
      span {
        @include montserrat(30px, 500, false, #ffffff, 1.2em, 0);
      }
      h2 {
        @include montserrat(30px, 800, false, #ffffff, 1.2em, 0);
      }
      a {
        margin-top: 20px;
        @include montserrat(14px, 700, false, #ffffff, 1em, 0);
        text-decoration: none;

        &:hover {
          color: #000;
          background: #fff;
          border-color: #000;
        }
      }
    }
    
    .swiper-pagination {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;

      bottom: 0;
      width: 100%;
      height: 40px;

      z-index: 1;

      .swiper-pagination-bullet {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        background-color: #D6D6D6;
        margin: 0 5px;

        transition: background-color .5s ease(out-expo);

        &.swiper-pagination-bullet-active {
          background-color: #747474;
        }
      }
      
    }
  }

  .newsletter-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    height: 100%;

    padding:40px;

    background-color: #111111;

    span {
      @include montserrat(30px, 500, false, #ffffff, 1.2em, 0);
    }
    h2 {
      @include montserrat(30px, 800, false, #ffffff, 1.2em, 0);
      margin-bottom: 25px;
    }
    p {
      @include montserrat(12px, 400, false, #ffffff, 1.4em, 0);
      margin-bottom: 35px;
    }

    input {
      display: inline;

      width: 100%;

      padding: 7px 20px;
      margin-bottom: 30px;

      border-radius: 15px;
      border-color: transparent;
    }
    button {
      color: #fff;
      border-color: #fff;
      background-color: #000;
      
      &:hover {
        color: #000;
        background-color: #fff;
      }
    }
  }

  .secondary-container {
    .row {
      margin: 0;
    }
    .square-container {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      position: relative;
      height: 300px;
      padding: 50px 35px 35px 35px;

      img {
        max-width: 60px;
        margin-bottom: 20px;
      }
      span {
        @include montserrat(30px, 500, false, #ffffff, 1.2em, 0);
      }
      h3 {
        @include montserrat(20px, 700, false, #ffffff, 1.2em, 0);
        margin-bottom: 25px;
      }
      p {
        @include montserrat(12px, 400, false, #ffffff, 1.4em, 0);
        margin-bottom: 35px;
      }

      &:nth-child(1) {
        background-color: #5E439B;
      }
      &:nth-child(2) {
        background-color: #454545;
      }
      &:nth-child(3) {
        background-color: #BEBEBE;
      }
    }
  }

  .brand-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    height: 400px;

    padding: 70px 40px 70px 40px;

    background-color: #F8F8F8;

    .mybrinde-logo {
      position: relative;
      display: block;
      margin-bottom: 80px;
    }
    p {
      @include montserrat(13px, 400, false, #6E6E6E, 1.4em, 0);
      margin-bottom: 35px;

      strong {
        @include montserrat(13px, 700, false, #6E6E6E, 1.4em, 0);
      }
    }
    
  }

  .copyright-container {
    position: relative;
    padding: 20px 40px 40px 40px;

    background-color: #F0F0F0;

    span {
      position: relative;
      margin-top: 20px;
      @include montserrat(14px, 400, false, #A0A0A0, 1.4em, 0);
    }
  }
}