.breadcrum-wrapper {
  position: relative;
  margin: 25px 0 50px 0;

  li {
    position: relative;
    display: inline-block;

    &:last-of-type {
      a {
        &:after {
          display: none;
        }
      }
    }

    a {
      @include montserrat(11px, 700, false, #666666, 1.2em, 0);
      text-transform: uppercase;
      text-decoration: none;

      &.active {
        color: #5E439B;
      }

      &:after {
        position: relative;
        margin: 0 10px;
        content: '/';
      }
      
    }
  }
}