.cart-list-wrapper {
  position: relative;

  .cart-list-header {
    .title {
      position: relative;
      display: inline-block;
      padding: 7px 20px;
      
      @include montserrat(12px, 700, false, #111111, 1.2em, 0);
      border-radius: 15px;
      background-color: #EDEDED;
      text-transform: uppercase;
    }
    .send-list {
      position: relative;
      display: inline-block;
      padding: 7px 20px;
      
      @include montserrat(12px, 700, false, #ffffff, 1.2em, 0);
      border-radius: 15px;
      background-color: #769F86;
      text-transform: uppercase;
    }
  }

  .cart-list-content {
    position: relative;
    margin-top: 50px;

    .cart-list-content-header {
      position: relative;
      padding: 15px 0;
      margin: 0;

      background-color: #F0F0F0;
      border-radius: 8px 8px 0px 0px;
      
      span {
        position: relative;
        display: block;
        text-transform: uppercase;
        @include montserrat(10px, 700, false, #111111, 1.2em, 0);
      }
    }

    .cart-list-content-item {
      position: relative;
      display: flex;
      align-items: center;
      margin: 0px 0;

      background: white;

      &:last-of-type {
        border-radius: 0px 0px 8px 8px;
      }

      img {
        padding: 20px;
      }

      .cart-item-description {
        display: inline-flex;

        .color {
          position: relative;
          display: block;
          
          margin-right: 20px;
  
          width: 30px;
          height: 30px;
  
          border-radius: 30px;
          border: 2px solid #212121;
          background-color: #B5B8BC;
        }

        .title {
          display: block;
          margin-bottom: 5px;

          @include montserrat(12px, 700, false, #111111, 1.2em, 0);
        }
        .price {
          display: block;
          @include montserrat(12px, 400, false, #777777, 1.2em, 0);
        }
      }
      
      .quantity {
        position: relative;
        display: inline-flex;
        align-items: center;

        padding: 5px 10px;

        border-radius: 20px;
        background-color: #111111;

        button {
          position: relative;
          padding: 0 10px;
          cursor: pointer;

          @include montserrat(25px, 400, false, #ffffff, 1.2em, 0);
          border: none;
          outline: none;
          background: none;

          &.less {
            top: -1px;
          }
        }

        .quantity-number {
          position: relative;
          margin: 0 10px;
          @include montserrat(12px, 700, false, #ffffff, 1.2em, 0);
        }
      }
      
    }
  }
}