.cart-form-wrapper {
  position: relative;

  padding: 30px;

  background-color: #5E439B;
  border-radius: 8px;

  h1 {
    position: relative;
    margin: 10px 0;

    @include montserrat(22px, 700, false, #ffffff, 1.2em, 0);
  }

  form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    input {
      position: relative;
      margin-bottom: 35px;
      padding: 10px 15px;

      @include montserrat(12px, 500, false, #ffffff, 1.2em, 0);
      text-transform: uppercase;

      border-radius: 20px;
      border: 2px solid #212121;
      background-color: #443071;
      
      &::placeholder {
        @include montserrat(12px, 500, false, #ffffff, 1.2em, 0);
      }
      &:-ms-input-placeholder {
        @include montserrat(12px, 500, false, #ffffff, 1.2em, 0);
      }
      &::-ms-input-placeholder {
        @include montserrat(12px, 500, false, #ffffff, 1.2em, 0);
      }
    }

    button {
      position: relative;
      margin-top: 80px;
      padding: 10px 15px;

      @include montserrat(12px, 900, false, #FA5F5F, 1.2em, 0);
      text-transform: uppercase;

      border-radius: 20px;
      background-color: #ffffff;
    }

    span {
      @include montserrat(11px, 400, false, #ffffff, 1.2em, 0);
    }
  }
}