/* — — — — — — — — — — — - — — — — — — — — — — — - — — — — — — — — — — — -
MAIN SASS CONFIGURATION

* @Version:    1.0 - 2018
* @author:     Burocratik
* @email:      hello@burocratik.com
* @website:    http://www.burocratik.com
— — — — — — — — — — — - — — — — — — — — — — — - — — — — — — — — — — — - */

/* — — — — — — — — — — — - — — — — — — — — — — — - — — — — — — — — — — — -
INCLUDES
— — — — — — — — — — — - — — — — — — — — — — — - — — — — — — — — — — — - */
/* =RESET ORGINAL
http://meyerweb.com/eric/tools/css/reset/

/* =NORMALIZE.css
https://github.com/necolas/normalize.css */

@import "~normalize.css";
@import '~reset-css';

// Custom grid based on Foundation
@import '_1-grid';

//  Author: Rafal Bromirski
//  www: http://rafalbromirski.com/
//  github: http://github.com/paranoida/sass-mediaqueries

@import '~sass-mediaqueries/_media-queries';

// Configuration RFS

// Minimum font size
$rfs-base-font-size: 16px !default;
$rfs-font-size-unit: px !default;

// Breakpoint at where font-size starts decreasing if screen width is smaller
$rfs-breakpoint: 1700px !default;
$rfs-breakpoint-unit: px !default;

@import "~rfs/scss";

/* — — — — — — — — — — — - — — — — — — — — — — — - — — — — — — — — — — — -
INITIAL SETUP
— — — — — — — — — — — - — — — — — — — — — — — - — — — — — — — — — — — - */
html,
body {
  width: 100%;
  min-height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  color: #000000;
  overflow-x: hidden;
  overflow-scrolling: touch;

  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;

  background-color: #ffffff;
}

body.js-loading-page {
  cursor: progress;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

#loading-page {
  display: none;
  position: fixed;
  z-index: 10002;
  left: 0;
  top: 0;
  width: 0;
  height: 0;

  background-color: #ffffff;
}

#loading-page.js-loading-page {
  display: block;
  width: 100%;
  height: 100%;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
  }
}

#outdated {
  //While not fixed
  display: none;
}

[data-buroScrollbar] {
  height: 100vh;
  height: calc(100vh - var(--vh-check, 0px));
  overflow: hidden;
  will-change: transform;
  transform: translateZ(0px);
}

/* — — — — — — — — — — — - — — — — — — — — — — — - — — — — — — — — — — — -
EASINGS
— — — — — — — — — — — - — — — — — — — — — — — - — — — — — — — — — — — - */

$ease: (in-quad: cubic-bezier(0.550, 0.085, 0.680, 0.530),
  in-cubic: cubic-bezier(0.550, 0.055, 0.675, 0.190),
  in-quart: cubic-bezier(0.895, 0.030, 0.685, 0.220),
  in-quint: cubic-bezier(0.755, 0.050, 0.855, 0.060),
  in-sine: cubic-bezier(0.470, 0.000, 0.745, 0.715),
  in-expo: cubic-bezier(0.950, 0.050, 0.795, 0.035),
  in-circ: cubic-bezier(0.600, 0.040, 0.980, 0.335),
  in-back: cubic-bezier(0.600, -0.280, 0.735, 0.045),
  out-quad: cubic-bezier(0.250, 0.460, 0.450, 0.940),
  out-cubic: cubic-bezier(0.215, 0.610, 0.355, 1.000),
  out-quart: cubic-bezier(0.165, 0.840, 0.440, 1.000),
  out-quint: cubic-bezier(0.230, 1.000, 0.320, 1.000),
  out-sine: cubic-bezier(0.390, 0.575, 0.565, 1.000),
  out-expo: cubic-bezier(0.190, 1.000, 0.220, 1.000),
  out-circ: cubic-bezier(0.075, 0.820, 0.165, 1.000),
  out-back: cubic-bezier(0.175, 0.885, 0.320, 1.275),
  in-out-quad: cubic-bezier(0.455, 0.030, 0.515, 0.955),
  in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1.000),
  in-out-quart: cubic-bezier(0.770, 0.000, 0.175, 1.000),
  in-out-quint: cubic-bezier(0.860, 0.000, 0.070, 1.000),
  in-out-sine: cubic-bezier(0.445, 0.050, 0.550, 0.950),
  in-out-expo: cubic-bezier(1.000, 0.000, 0.000, 1.000),
  in-out-circ: cubic-bezier(0.785, 0.135, 0.150, 0.860),
  in-out-back: cubic-bezier(0.680, -0.550, 0.265, 1.550));

@function ease($key) {
  @if map-has-key($ease, $key) {
    @return map-get($ease, $key);
  }

  @warn "Unkown '#{$key}' in $ease.";
  @return null;
}

/*
.example {
  animation: there-and-back 2.5s ease(in-quad) infinite alternate;
}
*/

/*-------------------------------------------------------------------------
=IMAGES and =ICONS
-------------------------------------------------------------------------*/
img {
  display: block;
  max-width: 100%;
  height: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
}

/*-------------------------------------------------------------------------
  =RESET STYLES and GENERAL CLASSES
-------------------------------------------------------------------------*/
.block-bg-cover {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.block-bg-cover .element-cover {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  overflow: hidden;
}

.firefox .block-bg-cover .element-cover,
.ie .block-bg-cover .element-cover {
  max-width: none;
  width: 100%;
}

/*-------------------------------------------------------------------------
  =SASS MIXINS
-------------------------------------------------------------------------*/

/**
 * Computes a CSS calc function that betweens a value from
 * A to B over viewport-width A to viewport-width B.
 * Requires a media query to cap the value at B.
 */

 @function between($from, $to, $fromWidth: 320px, $toWidth: 1700px) {
  $slope: ($to - $from) / ($toWidth - $fromWidth);
  $base: $from - $slope * $fromWidth;

  @return calc(#{$base} + #{100vw * $slope});
}