/* — — — — — — — — — — — - — — — — — — — — — — — - — — — — — — — — — — — -
1. FONTS
— — — — — — — — — — — - — — — — — — — — — — — - — — — — — — — — — — — - */

@mixin montserrat($size: false, $weight: false, $italic: false, $colour: false, $lh: false, $ls: false) {
  font-family: 'Montserrat';

  @if $size {
    @include font-size($size);
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $colour {
    color: $colour;
  }
  @if $italic {
    font-style: italic;
  }
  @if $lh {
    line-height: $lh;
  }
  @if $ls {
    letter-spacing: $ls;
  }
}

/* — — — — — — — — — — — - — — — — — — — — — — — - — — — — — — — — — — — -
1. STYLE GUIDES
— — — — — — — — — — — - — — — — — — — — — — — - — — — — — — — — — — — - */

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}
.btn {
  cursor: pointer;
}

/* — — — — — — — — — — — - — — — — — — — — — — — - — — — — — — — — — — — -
2. MAIN BLOCKS
— — — — — — — — — — — - — — — — — — — — — — — - — — — — — — — — — — — - */

/* — — — — — — — — — — — - — — — — — — — — — — — - — — — — — — — — — — — -
2. UI ELEMENTS
— — — — — — — — — — — - — — — — — — — — — — — - — — — — — — — — — — — - */

.btn {
  position: relative;
  display: inline-block;
  padding: 7px 20px;
  border-radius: 15px;
  border: 2px solid #fff;
  @include montserrat(12px, 700, false, #ffffff, 1.2em, 0);
  text-decoration: none;
  text-transform: uppercase;
  transition: color .5s ease(out-expo), background .5s ease(out-expo), border-color .5s ease(out-expo);

  &:hover,
  &.active {
    color: #000;
    background: #fff;
    border-color: #000;
  }
}

.btn-round {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 70px;
  height: 70px;

  border-radius: 70px;
  background-color: #fff;
  
  @include montserrat(14px, 700, false, #A3A3A3, 1em, 0);
  text-decoration: none;
  text-transform: uppercase;
  transition: color .5s ease(out-expo), background .5s ease(out-expo), border-color .5s ease(out-expo);

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    border-radius: 100%;
    border: 2px solid #5E439B;

    transform: scale(.8);
    transform-origin: center;

    pointer-events: none;
    opacity: 0;

    transition: opacity .5s ease(out-expo), transform .5s ease(out-expo);
  }
  &:hover,
  &.active {
    color: #ffffff;
    background: #5E439B;

    &:before {
      opacity: 1;
      transform: scale(1.2);
    }
  }
}