.filters{
	position:relative;
	width: 100%;
	height: 100%;
	background: #F0F0F0;

  .filters-header{
    background: #769F86;
    height: 60px;
    display: flex;
    align-items: center;
    h3{
      @include montserrat(16px, 700, false, #FFFFFF, 16px, 0);
      padding-left: 40px;
      text-transform: uppercase;
    }
  }
	.filter-wrapper{
    padding: 20px 40px;

    .filter-component{
      margin-top: 50px;
      &:first-of-type{
        margin-top: 0;
      }
      .filter-title{
        h3{
          @include montserrat(16px, 700, false, #212121, 30px, 0);
          text-transform: uppercase;
        }      
      }
      .hidden{
        display: none;
      }
      ul.radio{
        margin-top: 10px;
        li{
          position: relative;
          @include montserrat(14px, 500, false, #212121, 30px, 0);
          vertical-align: middle;
          
          .outer-circle{            
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 2px solid #212121;
            position: relative; 
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-right: 5px;

            .inner-circle{
              position: relative;          
              width: 10px;
              height: 10px;
              border-radius: 50%;
              border: 1px solid transparent;
              background: transparent;
            }
          }
          &.active{
            .inner-circle{                    
              background: #5E439B;
            }
          }
        }
      }

      &.color{
        li{
          .outer-circle{
            border-color: #000;
          }
          &:nth-child(1){
            .outer-circle{       
              .inner-circle{
                background: #FFEB00;                
              }
            }
          }
          
          &:nth-child(2){
            .outer-circle{              
              .inner-circle{
                background: #0063FF;
              }
            }
          }
          &:nth-child(3){
            .outer-circle{              
              .inner-circle{
                background: #FFFFFF;
              }
            }
          }
          &:nth-child(4){
            .outer-circle{              
              .inner-circle{
                background: #FF9D00;
              }
            }
          }
        }
      }

    }    
	}
}