.search-bar-wrapper {
  position: relative;
  padding: 20px;

  .logo {
    path {
      fill: #5e439b;
    }
  }

  input {
    position: relative;
    width: 100%;
    padding: 10px 20px;

    background-color: #E6E6E6;
    border-radius: 20px;
    border-color: transparent;
    outline: none;

    &::placeholder {
      @include montserrat(10px, 700, false, #BFBFBF, 1.2em, 0);
      text-transform: uppercase;
    }
    &:-ms-input-placeholder {
      @include montserrat(10px, 700, false, #BFBFBF, 1.2em, 0);
      text-transform: uppercase;
    }
    &::-ms-input-placeholder {
      @include montserrat(10px, 700, false, #BFBFBF, 1.2em, 0);
      text-transform: uppercase;
    }
  }
  
}