.products-grid-wrapper {
  position: relative;
  padding-right: 20px;

  .grid-header {
    // padding: 30px 0;

    .products-number-wrapper {
      li {
        position: relative;
        display: inline-block;

        @include montserrat(10px, 900, false, #777777, 1.2em, 0);
        text-decoration: none;

        &:first-child {
          margin-right: 10px;
        }
      }
    }

    h1 {
      @include montserrat(22px, 700, false, #111111, 1.2em, 0);
    }

    .products-order-btn {
      position: relative;

      padding-right: 80px;

      border-color: #212121;
      color: #212121;

      &:before,
      &:after {
        display: block;
        content: '';
        position: absolute;
        width: 2px;
        height: 10px;

        background-color: #000;

        top: 8px;
        right: 20px;

        transform-origin: bottom;
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }

    .category-title-wrapper {
      position: relative;
      // margin-bottom: 30px;
      margin: 20px 0;
    }

    .categories-list {
      position: relative;
      display: inline-flex;
      width: 100%;
      
      li {
        margin: 0 8px;

        &:first-child {
          margin-left: 0;
        }

        &.align-right {
          position: absolute;
          top: 0;
          right: 0;
        }
       
        .btn {
          background-color: #EDEDED;
          border-color: #EDEDED;
          color: #A3A3A3;

          &:hover {
            color: #fff;
            background-color: #5E439B;
            border-color: #5E439B;
          }
        }
      }
    }

    .list-style {
      position: relative;
      display: block;
      width: 100%;
      
      li {
        position: relative;
        display: inline-block;
        margin: 0 4px;

        &:first-child {
          margin-left: 0;
        }

        &.align-right {
          position: absolute;
          top: 0;
          right: 0;
        }
       
        .btn {
          background-color: #EDEDED;
          border-color: #EDEDED;
          color: #A3A3A3;

          &:hover,
          &.active {
            color: #fff;
            background-color: #111111;
            border-color: #111111;
          }
        }
      }
    }
  }

  .grid-list {
    .row {
      justify-content: space-between;

      .column {
        flex: 0 0 260px;

        .product-thumb-wrapper {
          margin: 20px 0;
        }
      }
    }
  }
  .grid-pagination {
    position: relative;
    margin: 60px 0;
    ul {
      li {
        display: inline-flex;
        margin: 0 2px;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;

          @include montserrat(12px, 700, false, #cccccc, 1.2em, 0);
          text-decoration: none;
          
          border-radius: 30px;
          border: 2px solid #CCCCCC;
          &:hover,
          &.active {
            color: #111111;
            border-color: #111111;
          }
        }

      }
    }
  }
}