.cookies-warning-wrapper {
  position: fixed;
  width: 100vw;
  height: 60px;

  left: 0;
  bottom: 0px;

  z-index: 1000;
  background: #111111;

  .row {
    position: relative;
    height: 100%;
    
    .columns {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 100%;

      button {
        position: relative;
        margin-left: 40px;

        color : #5E439B
      }
      p {
        @include montserrat(16px, 400, false, #ffffff, 1.2em, 0);

        a {
          @include montserrat(16px, 400, false, #ffffff, 1.2em, 0);
          opacity: .4;
        }
      }
    }
  }
}