.most-sold-slider-wrapper {
  padding: 60px 0;
  background-color: #F8F8F8;


  .categories-wrapper {
    padding: 0px 40px;
    margin-bottom: 40px;

    h2 {
      position: relative;
      display: inline-block;
      
      @include montserrat(22px, 700, false, #111111, 1.2em, 0);
      text-transform: uppercase;

    }

    .view-all {
      color: #000;
      background-color: #fff;
      border-color: #000;

      &:hover,
      &.active {
        color: #fff;
        background-color: #000;
        border-color: #000;
      }
    }
    
    .categories-list {
      position: relative;
      display: inline-flex;
      width: 100%;
      
      li {
        margin: 0 8px;

        &:first-child {
          margin-left: 0;
        }

        &.align-right {
          position: absolute;
          top: 0;
          right: 0;
        }
       
        .btn {
          background-color: #EDEDED;
          border-color: #EDEDED;
          color: #A3A3A3;

          &:hover,
          &.active {
            color: #fff;
            background-color: #5E439B;
            border-color: #5E439B;
          }
        }
      }
    }
  }

  .drag-slider-container {
    display: inline-flex;
  }
}