.image-gallery-wrapper {
  position: relative;

  .full-image-wrapper {
    position: relative;
  }

  .gallery-thumbs {
    position: relative;
    display: inline-flex;

    margin-top: 10px;
    
    li {
      position: relative;
      width: 100px;
      height: 100px;

      margin: 0 5px;

      cursor: pointer;
    }
  }
}