.header-slider-wrapper {
  position: relative;
  height: 300px;

  .swiper-container {
    position: relative;

    height: 300px;
    overflow: hidden;

    .swiper-wrapper {
      position: relative;
      display: inline-flex;

      height: 100%;
    }

    .swiper-slide {
      position: relative;
    }
    
    .text-wrapper {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: baseline;

      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      padding: 40px;
      
      span {
        @include montserrat(30px, 500, false, #ffffff, 1.2em, 0);
      }
      h2 {
        @include montserrat(30px, 800, false, #ffffff, 1.2em, 0);
      }
      a {
        margin-top: 20px;
        @include montserrat(14px, 700, false, #ffffff, 1em, 0);
        text-decoration: none;

        &:hover {
          color: #000;
          background: #fff;
          border-color: #000;
        }
      }
    }
    
    .swiper-pagination {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;

      bottom: 0;
      width: 100%;
      height: 40px;

      z-index: 1;

      .swiper-pagination-bullet {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        background-color: #D6D6D6;
        margin: 0 5px;

        transition: background-color .5s ease(out-expo);

        &.swiper-pagination-bullet-active {
          background-color: #747474;
        }
      }
      
    }
  }

  .cta-wrapper {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content:space-between;
    flex-direction: column;

    height: 300px;

    li {
      position: relative;
      flex: 0 0 100px;

      

      a {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        height: 100%;

        padding: 30px;

        @include montserrat(16px, 700, false, #ffffff, false, 0);
        text-transform: uppercase;
        text-decoration: none;
      }

      &:nth-child(1) {
        background-color: #4B357C;
      }
      &:nth-child(2) {
        background-color: #FA5F5F;
      }
      &:nth-child(3) {
        background-color: #BFB48D;
      }
    }
  }

}