.product-description-wrapper {
  
  .reference {
    position: relative;
    padding: 12px 30px 12px 65px;
    margin-bottom: 30px;
  
    @include montserrat(12px, 700, false, #111111, 1.2em, 0);
    text-transform: uppercase;
  
    border-radius: 20px;
    background-color: #EDEDED;
    outline: none;
    border: none;
  
    cursor: pointer;
  
    .label {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      left: 0;
  
      width: 50px;
      height: 100%;
      
      line-height: 32px;
      border-bottom-left-radius: 20px;
      border-top-left-radius: 20px;
      background: #CBCBCB;

      color: #ffffff;
      
      
    }
  }

  .description-content {
    h1 {
      position: relative;
      margin-bottom: 20px;
  
      @include montserrat(22px, 700, false, #111111, 1.2em, 0);
    }
    p{
      position: relative;
      margin-bottom: 20px;
  
      @include montserrat(12px, 500, false, #111111, 1.4em, 0);
    }

    .size {
      position: relative;
      display: block;
      margin-bottom: 20px;

      @include montserrat(12px, 500, false, #111111, 1.4em, 0);

      strong {
        @include montserrat(12px, 700, false, #111111, 1.4em, 0);
      }
    }
  }

  .product-caracteristics {
    .colors {
      position: relative;
      display: block;
      margin-bottom: 10px;

      @include montserrat(12px, 700, false, #111111, 1.4em, 0);
    }

    .colors-list {
      position: relative;
      display: inline-flex;
      margin-bottom: 40px;

      li {
        position: relative;
        margin: 0 5px;

        &:first-of-type {
          margin-left: 0;
        }
      }
      .color {
        position: relative;
        display: block;

        width: 30px;
        height: 30px;
        
        border-radius: 30px;
        border: 2px solid #111111;

        &.red {
          background-color: red;
        }
        &.blue {
          background-color: blue;
        }
        &.green {
          background-color: green;
        }
      }
    }

    .print {
      display: flex;
      margin-bottom: 40px;

      button {
        position: relative;
        flex: 0 1 50%;

        margin: 0 10px;
        padding: 5px 30px 5px 30px;

        border: 2px solid #212121;
        border-radius: 15px;
        text-align: left;

        outline: none;
        background-color: none;

        &:first-of-type {
          margin-left: 0;
        }
        span {
          display: block;
          @include montserrat(12px, 700, false, #111111, 1.4em, 0);
          text-transform: uppercase;
        }

        ul {
          position: absolute;
          width: 100%;
          top: 100%;

          opacity: 0;
          visibility: hidden;

          li {
            display: block;
            width: 100%;
          }
        }
      }
    }

    .quantity-budget {
      position: relative;
      display: flex;
      align-items: center;
      
      margin-bottom: 50px;

      .quantity {
        position: relative;
        display: inline-flex;
        align-items: center;
  
        padding: 3px 10px;
        margin-right: 20px;
  
        border-radius: 20px;
        background-color: #111111;
  
        button {
          position: relative;
          padding: 0 10px;
          cursor: pointer;
  
          @include montserrat(25px, 400, false, #ffffff, 1.2em, 0);
          border: none;
          outline: none;
          background: none;
  
          &.less {
            top: -1px;
          }
        }
  
        .quantity-number {
          position: relative;
          margin: 0 10px;
          @include montserrat(12px, 700, false, #ffffff, 1.2em, 0);
        }
      }

      .get-budget {
        position: relative;
        padding: 10px 30px 10px 30px;

        background-color: #5E439B;
        border-radius: 20px;

        text-align: center;
        text-transform: uppercase;
        @include montserrat(12px, 700, false, #ffffff, 1.2em, 0);
      }
    }
  }

  .product-price-table {
    position: relative;
    margin-bottom: 30px;

    .table-header {
      position: relative;
      display: inline-flex;
      justify-content: space-between;
      width: 100%;
      
      margin-bottom: 20px;
      background-color: #F0F0F0;

      span {
        position: relative;
        display: block;
        padding: 10px 20px 10px 20px;
        text-align: center;

        @include montserrat(12px, 700, false, #111111, 1.4em, 0);
        text-transform: uppercase;
        ;
        &:first-of-type {
          color: #5E439B;
        }
      }
    }

    .table-content {
      position: relative;
      display: inline-flex;
      justify-content: space-between;
      width: 100%;

      span {
        position: relative;
        display: block;
        padding: 10px 20px 10px 20px;
        text-align: center;

        @include montserrat(12px, 700, false, #111111, 1.4em, 0);

        &:first-of-type {
          color: #5E439B;
        }
      }
    }

    .iva-warning {
      position: relative;
      margin-top: 30px;
      margin-bottom: 5px;

      @include montserrat(12px, 500, false, #111111, 1.4em, 0);
    }
    .highlight {
      @include montserrat(12px, 700, false, #111111, 1.4em, 0);
      text-transform: uppercase;
      color: #5E439B;
    }
  }
  
}