.shopping-cart {
  position: relative;
  padding: 12px 40px 12px 20px;

  @include montserrat(12px, 700, false, #ffffff, 1.2em, 0);
  text-transform: uppercase;

  border-radius: 20px;
  background-color: #5e439b;
  outline: none;
  border: none;

  cursor: pointer;

  .items {
    position: absolute;
    top: 0;
    right: 0;

    width: 30px;
    height: 100%;
    
    line-height: 32px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background: #443071;
    
  }
}