.main-menu-wrapper {
  position: relative;
  width: 100%;
  height: 60px;

  background-color: #5E439B;

  ul {
    height: 100%;

    li {
      position: relative;
      height: 100%;

      @include montserrat(12px, 700, false, #ffffff, 1.2em, 0);
      text-transform: uppercase;
      line-height: 60px;

      transition: background-color .5s ease(out-expo);
      
      &:hover,
      &.active {
        background-color: #111111;
      }
    }
  }
}