.product-thumb-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 260px;
  height: 320px;

  margin: 0 10px;
  border-radius: 8px;


  background-color: #fff;
  overflow: hidden;

  .image-wrapper {
    position: relative;
    height: 240px;
  }

  .content-wrapper {
    position: relative;
    height: 80px;
    padding: 10px 20px 10px 20px;

    .title {
      position: relative;
      display: block;
      margin-bottom: 5px;
      @include montserrat(16px, 700, false, #000, 1.2em, 0);
    }
    .ref-code {
      position: relative;
      display: block;
      margin-bottom: 10px;
      @include montserrat(11px, 700, false, #5E439B, 1.2em, 0);
    }
    .price {
      position: relative;
      display: block;
      @include montserrat(14px, 500, false, #777777, 1.2em, 0);
    }
  }
}